*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(196, 196, 196);
}
.button{
    font-size: 100px;
    background-color: rgb(157, 223, 137);
    border-radius: 30px;
}
.button:hover{
        background-color: rgb(95, 223, 56);

}
.button:active{
        background-color: rgb(44, 172, 5);

}
.container{
    margin: 10%;
    text-align: center;
    background-color: rgb(143, 173, 89);
    border-radius: 30px;
    padding: 40px;
    font-size: 25px;
}
h1{
    text-align: center;
    margin: 20px;
    font-size: 60px;
}