@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300&display=swap');
*{
  box-sizing: border-box;
}
body{
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    box-sizing: border-box;
    background-color: rgb(185, 185, 185);
}
.header{
  text-align: center;
  font-size: 50px;
  margin-top: 30%;
}
.container{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: auto;
}
.todo{
    background-color: #4d4e4e;
    height: 69px;
  width: 400px;
  display: block;
  border-bottom: 1px solid #2C3E50;
  color: #fff;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 1px;
  text-indent: 20px;
  cursor: pointer;
  transition: all 0.7s ease;
  position: relative;
    padding-top:15px;
  text-decoration: none;
  margin-bottom: 3px;
  text-align: center;
  border-radius: 10px;
  overflow: auto;
  margin-top: 10px;
}
.todo:hover{
      background-color: #3d3d3d;
}

.inp{
    background-color: #666666;
    height: 40px;
  display: block;
    margin: auto;
  border-radius: 10px;
  width: 100%;
color: rgb(255, 255, 255);
font-size: 20px;
border-style: none;
  transition: all 0.7s ease;
}
.btn{
text-align: center;
}
button{
  border-radius: 10px;
  background-color: #494949;
  padding: 12px;
  margin-top: 5px;
  color: #fff;
  border: #494949;
  transition: all 0.5s ease;
}
button:hover{
      background-color: #3d3d3d;
      cursor: pointer;
      transition: all 0.1s ease;
}
button:active{
   background-color: #323333;
}
/*
.todo_container{
  display: grid;
  grid-template-columns: auto auto;
}
*/
.todo_btns{
  margin-left: 20px;
}
.done ,.del{
  border-radius: 10px;
  background-color: #494949;
  padding: 12px;
  margin-top: 20px;
  color: #fff;
  border: #494949;
  transition: all 0.5s ease;
}
.b{
  padding-left: 5px;
  margin-left: 5px;
}

 .checked{
  background-color: rgb(13, 156, 77);
    text-decoration: line-through;
}
.checked:hover{
  background-color: rgb(13, 156, 77);
    text-decoration: line-through;
}