*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(6, 33, 83);
}
.btn{
     cursor: pointer;
     border: none;
     padding: 20px;
     font-size: 30px;
     border-radius: 20px;
}
.btn:hover{
    background-color: rgb(173, 173, 173);
}
.btn:active{
    background-color: rgb(92, 92, 92);
}
.screen{
    padding:2%;
    grid-column: 1 / span 4;
    background-color: #fff;
    border-radius: 20px;
    height: 60px;
    font-size: 30px;
}
.container{
    margin: 15%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    width: 50vw;
    background-color: rgb(41, 46, 44);
    border-radius: 20px;
    padding: 20px;
    transform: translateY(50%);
    margin: auto;
}
.equal{
    background-color: rgb(230, 91, 91); 
    grid-column: 1 / span 4;   
     /*  grid-column: 2 / span 2; */
}
.equal:hover{
    background-color: rgb(199, 69, 69)
}
.equal:active{
    background-color: rgb(184, 44, 44)
}