*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(233, 241, 241);
}
.container{
     display: flex;
    justify-content: center;
    margin-top: 10vh;
}
h1{
    text-align: center;
    margin-top:10px;
}
.btns-container{
    background-color: rgb(238, 238, 238);
    width: 30vw;
    height: 50vh;
}
.imgs-container{
    background-color: rgb(255, 255, 255);
    width: 30vw;
    height: 50vh;
   
    background-repeat: no-repeat;
    background-position: center;
}
.letters{
    text-align: center;
    background-color: rgb(54, 54, 54);
    width: 60vw;
    display: flex;
    justify-content: center;
}
.letters-container{
     display: flex;
    justify-content: center;
    margin-top: 5vh;
    height: 5vh;
}
.btn{
    background-color: rgb(121, 121, 121);
    border: 1px rgb(121, 121, 121) solid;
    padding: 8px;
    margin: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 3px;
}
.btn:hover{
    background-color: rgb(70, 70, 70);
}
.btn:active{
    background-color: rgb(37, 37, 37);
}
.span-css{
    background-color: rgb(255, 255, 255);
    border: 1px rgb(0, 0, 0) solid;
    padding: 10px;
    margin: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}
.disabled{
     border: 1px solid #999999;
     background-color: #cccccc;
     color: #666666;
     padding: 8px;
    margin: 5px;
      border-radius: 5px;
      text-align: center;
}