@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
body,
html {
  height: 100%;
}

.kol7aga {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10vw;
  height: 100vh;
}

body {
  background-color: #f7f7f7;
}

@media (max-width: 991px) {
  .el-wrapper {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .el-wrapper {
    width: 290px;
    margin: 30px auto;
  }
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
  border-radius: 50px;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.flex-centerY-centerX {
  justify-content: center;
  justify-content: center;
  align-items: center;
}

.page-wrapper {
  height: 100%;
  display: table;
}

.page-wrapper .page-inner {
  display: table-cell;
  vertical-align: middle;
}

.el-wrapper {
  width: 360px;
  padding: 15px;
  margin: 15px auto;
  background-color: #fff;
}

.el-wrapper:hover .h-bg {
  left: 0px;
}

.el-wrapper:hover .price {
  left: 20px;
  transform: translateY(-50%);
  color: #818181;
}

.el-wrapper:hover .add-to-cart {
  left: 50%;
}

.el-wrapper:hover .img {
  webkit-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius="7", shadowopacity="0.0");
  opacity: 0.4;
}

.el-wrapper:hover .info-inner {
  bottom: 155px;
}

.el-wrapper:hover .a-size {
  transition-delay: 300ms;
  bottom: 50px;
  opacity: 1;
}

.el-wrapper .box-down {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.el-wrapper .box-up {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.el-wrapper .img {
  padding: 20px 0;
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
}

.h-bg {
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  width: 660px;
  height: 100%;
  background-color: #3f96cd;
  position: absolute;
  left: -659px;
}

.h-bg .h-bg-inner {
  width: 50%;
  height: 100%;
  background-color: #464646;
}

.info-inner {
  transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: 25px;
}

.info-inner .p-name,
.info-inner .p-company {
  display: block;
}

.info-inner .p-name {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #252525;
}

.info-inner .p-company {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #8c8c8c;
}

.a-size {
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: -20px;
  font-family: "PT Sans", sans-serif;
  color: #828282;
  opacity: 0;
}

.a-size .size {
  color: #252525;
}

.cart {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.cart .price {
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #252525;
}

.cart .add-to-cart {
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  white-space: nowrap;
}

.header h1 {
  text-align: center;
  color: #3f96cd;
  letter-spacing: 4px;
}

.btns-contianer {
  text-align: center;
}

.btns-contianer button {
  margin: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 15px;
  border-color: #f7f7f7;
}

.btns-contianer button:hover {
  border-color: #3f96cd;
}/*# sourceMappingURL=style.css.map */